.gradle
/build/
/bin/
/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### OSX ###
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
bin